.Gray{
  background-color: #686664;
}
.Orange{
  background-color: #ee4e01;
}
.DOrange{
  background-color: #ec3900;
}
.contact-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
.section-accent {
  width: 60px;
  height: 3px;
  background-color: #ee4e01; /* H3 orange */
}

